{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <table>
            <tr>
                <th>Nft</th>
                <th></th>
                <th>Zoo</th>
                <th>Owner</th>
                <th>Timestamp</th>
            </tr>
            {% for c in ChestCollection.history %}
                <tr class="altcolor">
                    <td>{{c.nft}}</td>
                    <td>{{c.type | raw}}</td>
                    <td>{{c.amount}}</td>
                    <td><a href={{'https://www.wanscan.org/address/' ~ c.wallet_id}} target="_blank">{{c.name ~ ' ' ~ c.animal}}</a></td>
                    <td><a href={{'https://www.wanscan.org/tx/' ~ c.txHash}} target="_blank">{{c.timestamp | date('Y-m-d H:i:s')}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}