{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <table>
            <tr>
                <th>Nft</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Seller</th>
                <th>Timestamp</th>
            </tr>
            {% for m in MarketCollection %}
                <tr class="altcolor">
                    <td>{{m.nft}}</td>
                    <td>{{m.price}}</td>
                    <td>{{m.currency}}</td>
                    <td>{{m.seller}}</td>
                    <td>{{m.timestamp | date('Y-m-d H:i:s')}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}