{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <table>
            <tr>
                <th>Nft</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Seller</th>
                <th>Buyer</th>
                <th>Timestamp</th>
            </tr>
            {% for m in MarketHistoryCollection.history %}
                <tr class="altcolor">
                    <td>{{m.nft}}</td>
                    <td>{{m.price}}</td>
                    <td>{{m.currency}}</td>
                    <td>{{m.seller}}</td>
                    <td>{{m.buyer}}</td>
                    <td><a href={{'https://www.wanscan.org/tx/' ~ m.txHash}} target="_blank">{{m.timestamp | date('Y-m-d H:i:s')}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}