{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <table>
            <tr>
                <th>Nft ID</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Seller</th>
                <th>Buyer</th>
                <th>Timestamp</th>
                <th>Chain ID</th>
                <th>Block</th>
                <th>txHash</th>
            </tr>
            {% for m in markethistory %}
                <tr class="altcolor">
                    <td>{{m.tokenId}}</td>
                    <td>{{m.price}}</td>
                    <td>{{m.symbol}}</td>
                    <td><a href={{'https://www.wanscan.org/address/' ~ m.seller}} target="_blank">{{m.seller}}</a></td>
                    <td><a href={{'https://www.wanscan.org/address/' ~ m.buyer}} target="_blank">{{m.buyer}}</a></td>
                    <td>{{m.time}}</td>
                    <td>{{m._id}}</td>
                    <td>{{m.blockNumber}}</td>
                    <td><a href={{'https://www.wanscan.org/tx/' ~ m.txHash}} target="_blank">{{m.txHash}}</a></td>              
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}