{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <table>
            <tr>
                <td>Total Locked NFTs</td>
                <td>{{nftslocked.totalNFT}}</td>
            </tr>
            <tr>
                <td>Total Holders</td>
                <td>{{nftslocked.totalHolder}}</td>
            </tr>
            <tr>
                <td>Avg Boost</td>
                <td>{{nftslocked.averageBoosting}}</td>
            </tr>
            <tr>
                <td>Avg Time Reduce</td>
                <td>{{nftslocked.averageReduce}}</td>
            </tr>
            <tr height="50px">
                {# spacing #}
            </tr>
            <tr>
                <th>Nft ID</th>
            </tr>
            {% for n in nftslocked.lockedNft %}
                <tr class="altcolor">
                    <td>{{n.tokenId}}</td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}